a {
  color:#ffffff;
}

a:hover {
  color:rgb(221, 80, 80);
}


/* SUBMIT BUTTON */
.submit, #submit {
  background-color: rgb(6, 133, 175);
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 3px 3px 20px -3px rgba(0, 0, 0, 0.568);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
}

.submit, #submit:hover, .standard-btn:hover, .getRxData:hover {
  opacity: .9;
  cursor: pointer;
}

.standard-btn, .getRxData {
  margin-top: 25px;
  width: 100%;
  height: 45px;
  background-color: rgb(0, 89, 116);
  color: White;
  border: 0px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 20px -3px rgba(0, 0, 0, 0.568);
  font-weight: 600;
}

.login-h3 {
  color:black;
  margin-top: 30px;
  text-align: center;
}

.bbstyle {
  box-sizing: border-box;
  background: rgb(216, 206, 206);
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 10px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  /* margin-bottom: 50px; */
  box-shadow: 3px 3px 20px -3px rgba(0, 0, 0, 0.568);
}

.gradient-background, .gradient-background-info {
  background: linear-gradient(35deg, #e66465, #e66465 5%, #9198e5);
  height: 100%;
  min-height: 1100px;
}



.gradient-background1 {
  background: linear-gradient(35deg, #6492e6, #6492e6 25%, #b191e5);
  height: 100%;
  min-height: 1100px;
}

h1, h3 {
  font-weight: bold;
}

h1 {
  font-size: 30px;
}
/* INPUT ELEMENT STYLING */
input {
  width: 350px;
}


input#nameArea.form-control {
  border: 1px solid rgba(0, 0, 0, 0.39);
  border-radius: 2px;
  padding: 10px;
}

input#password.form-control {
  border: 1px solid rgba(0, 0, 0, 0.39);
  border-radius: 2px;
  padding: 10px;
}


@media only screen 
and (min-device-width : 315px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
  input {
      width: 150px;
  }

  .gradient-background {
      padding: 15px;
  }

  .bbstyle {
      padding: 15px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
  }

  h1 {
      margin-right: 10px;
      font-size: 20px;
  }
}
