.formStyle {
    margin: 0;
    padding: 0;
}

.formFieldsStyleAddRx {
    margin: 0 0 .5em 0;
    background: rgb(248, 248, 248);
}

.addRx-box {
    margin-bottom: 150px;
}

.addRxFormLabel {
    margin: 0;
    font-size: .8em;
    text-align: left;
    line-height: 1;
    Font-weight: bold
}

.addRxFormLabelExample {
    margin: 0;
    font-size: .6em;
    text-align: left;
    line-height: 1;
    Font-weight: bold
}