.formStyle {
    margin: 10px;
    padding: 1em;
}

.formFieldsStyle {
    margin: 1em 0 1em 0;
    background: rgb(248, 248, 248);
}

.gradient-background3 {
    background: linear-gradient(35deg, #a5da8b, #a5da8b 45%, #00c7a6);
    height: 100%;
    min-height: 1100px;
}