.title {
    font-family: 'Montserrat', sans-serif;
    color: wheat; 
}

.title:hover {
    color: #47ff41;
    text-decoration: none;
}

.logo {
    color: white;
}

.pestle {
    margin-right: 16px;
}

.nav {
    padding-top: 100px;
    border: 0px;
    padding-bottom: 5px;    
}

.divider2 {
    border-bottom: 8px dotted white;
    margin: 0 15%;
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .nav, .navbar, .navbar-default {
        padding-top: 40px;
        border: 0px;
        padding-bottom: 5px; 
        padding-left: 0px;
    }
}