.signup-div {
    font-size: 1em;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 8px;
    margin-right: 8px;
}

.signupFormField {
    margin: 0;
    font-size: 1em;
    text-align: left;
    line-height: 1;
    Font-weight: bold
}
.signupFormLabel {
    margin: 0;
    font-size: 1em;
    text-align: left;
    line-height: 1;
    Font-weight: bold
}

#submit {
    width: 20%;
}

.login {
    margin-left: 24px;
}
