.container {
    margin-top: 50px;
}

#contents {
    font-size: .6em;
}

#clock {
    font-size: 24px;
    color: white;
    text-align: right;
    margin: 0 10px;
}

.divider {
    margin: 0 2%;
    border: .7px dashed lightgray;
}

.tablets, .person {
    margin-right: 8px;
}







@media only screen 
and (min-device-width : 315px) 
and (max-device-width : 780px) 
and (orientation : portrait) { 
    #clock {
        font-size: 18px;
        color: white;
        text-align: right;
    }
}

