#contents {
    font-size: .6em;
}

#clock {
    color: white;
    margin-top: 30px;
    text-align: right;
}

.divider {
    margin: 0 2%;
    border: .7px dashed lightgray;
}

.tablets, .person {
    margin-right: 8px;
}

