.git {
    padding: 1em;
}

.bbstyle-info {
    box-sizing: border-box;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.bbstyle-final {
    box-sizing: border-box;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.header, #infoText {
    text-align: center;
}

#logoImg {
    width: 300px;
}

#logoImg2 {
    width: 220px;
    border-radius: 200px;
}

#logoImg3 {
    width: 260px;
}

.bottom {
    margin-bottom: 200px;
}

#logIn2, #signUp2 {
    color: white;
    opacity: .7;
    border: 1.25px solid #b9b9b9;
    box-shadow: 3px 3px 20px -3px rgba(0, 0, 0, 0.568);
}

#logIn2:hover, #signUp2:hover {
    color: white;
    opacity: 1;
    border: 1.25px solid #b9b9b9;
    box-shadow: 3px 3px 20px -3px rgba(0, 0, 0, 0.568);
}



@media only screen 
and (min-device-width : 315px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
    #logoImg, #logoImg2, #logoImg3 {
        width: 200px;
    }

    .startStyle {
        margin: 10px 0;
    }
 }